@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Nunito:ital,wght@1,200&display=swap");

#D {
  overflow-x: hidden;
  color: aliceblue;
  padding: 3% 0;
  transition: all 0.5s;
  font-family: "Nunito", sans-serif;
  box-shadow: inset 18px 20px 200px 14px rgb(113 218 199 / 25%),
    inset -20px 0px 20px 0 rgb(255 0 191 / 37%);
}
#heading {
  text-align: center;
  font-size: 9vw;
  color: #a489ff;
  margin-bottom: 3%;
}

#Box {
  height: 63vh;
  margin: 4vh 7vw;
  padding: 2vh;
  background: #43a1e142 url(../img/discord.gif) no-repeat bottom;
  background-size: contain;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%),
    inset 0px -1px 200px 2px rgb(151 41 214 / 68%);
  background-blend-mode: saturation;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  border-radius: 2vh;
  text-align: end;
}
#joinButton {
  padding: 3vh 2.5vh;
  border-radius: 0 2vh;
  border-style: none;
  background: #1ea5ffd4;
  margin: 4vh;
  position: relative;
  left: 40vw;
  top: 17%;
  cursor: pointer;
}
#joinButton :hover {
  background-color: blue;
  color: crimson;
}
#joinButton :click {
  background-color: blue;
  color: crimson;
}
#instructions {
  margin: 3vh;
  padding: 3vh;
  height: 90%;
  display: flex;
  align-content: space-around;
  flex-direction: column;
  justify-content: space-around;
}

#instructions div p {
  padding: 3vh;
  font-size: large;
}
#instructions h1 {
  text-shadow: -4px 1px 15px rgb(151 41 214 / 67%);
  margin: 2vh 0;
}
@media screen and (max-width: 510px) {
  #instructions div p {
    padding: 3vh 0vh;
  }
  #D {
    padding: 18% 4%;
  }
}
