* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html{
  scroll-behavior: smooth;
}
.container {
  overflow-x: hidden;
  min-width: 100vw;
  min-height: 100vh;
  background-color: #231e23;
}
::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #000000e1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #c2c2c2e1;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
