
PROPERTIES :
1. background-color: rgb(0,0,0) / black
2. background-image: url("abc.jpg")
3. background-repeat: repeat-x / repeat-y / no-repeat
4. background-attachment: fixed / scroll  
5. background-position: top  left / 40px 30px 

6. background-size: auto / cover / contain 
    1. contain: this will fit one of the aspects of img like width or height to the container
7. background-origin: padding-box / border-box / content-box

USAGE:

background: [color] [url_image] [repeat_value] [attaqchment] [position_top] [position_left]

may skip any of the properties, but order is important


example:
div{
    background: black url("abc.jpg") repeat-x scroll 40px 30px

}
